.custom-button {
  outline: none;
  box-shadow: none;
  text-decoration: none;
  padding: 0 5px;

  display: inline-block;
  box-sizing: border-box;
  min-height: 37px;
  line-height: 37px;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid var(--color-blue);

  svg {
    vertical-align: middle;
  }

  &__text {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 13px;
    line-height: inherit;
    text-align: center;
    color: var(--color-white);
    display: block;
  }

  // effects
  &:hover {
    opacity: .8;
    transition: opacity .1s ease-in-out;
  }
  // views
  &_primary {
    background-color: var(--color-blue);

    & > * {
      color: var(--color-white);
    }
  }

  //
  &_secondary {
    //background-color: var(--color-dark-gray);
    background: transparent;
    border-color: var(--color-blue);

    span {
      color: var(--color-blue);
    }
  }

  &_clear {
    background-color: transparent;
    border: none;

    .custom-button__text {
      color: var(--color-blue);
    }

    &:hover {
      background-color: var(--color-light-gray);
    }
  }

  &_ghost {
    background-color: var(--color-light-gray);
    border-color: var(--color-light-gray);
  }

  &_alert {
    background-color: var(--color-red);
    border-color: var(--color-red);
  }
  // forms
  &_round {
    border-radius: 50%;
  }

  &_brick {
    border-radius: 0;
  }

  // widths "default", "full"
  &_full {
    width: 100%;
  }
  // sizes "small", "medium", "large"
  &_small {

    .custom-button__text {
      font-size: 11px;
    }
  }

  &_medium {

    .custom-button__text {
      font-size: 13px;
    }
  }

  &_black-text {

    .custom-button__text {
      color: var(--color-black);
    }
  }
}
