@use 'sass:math';

@mixin shadow-box {
  box-shadow: 0 0 6px 0 rgb(0 0 0 / 14%);
}

@mixin clear-default {
  border: none;
  outline: none;
  background: none;
  padding: 0;
  margin: 0;
}

@mixin random-background($index) {
  /* stylelint-disable */
  background: unquote("rgba(#{random(256) - $index}, #{random(1) + $index}, #{random(256) - $index}, #{random(100)} )");
}

@mixin absolute-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
