
:root {
  //fonts
  --font-family: "Inter", sans-serif;

  // colors
  --color-white: #fff;
  --color-red: #ff2f2f;
  --color-thin-gray: #FBFBFB;
  --color-light-gray: #EFEFEF;
  --color-gray: #999;
  --color-dark-gray: #525252;
  --color-light-blue: #E4EDFD;
  --color-blue: #3369f3;
  --color-black: #1E1E1E;
  --color-border: #EAEAEA;
  --color-balloon: #F8F8F8;
  --color-bg-secondary-opacity: rgb(82 82 82 / 50%);
  --height-header: 72px;
  --height-footer: 58px;
  --width-chats-list: 310px;
}
