<div class="grid">
    <div class="grid__column grid__column_left">
        {{> leftContent}}
    </div>
    <div class="grid__column grid__column_right">
        {{> rightContent}}
    </div>
</div>

