
<form class="form">
    {{> Text style="font-size: 20px; font-weight: 500; color: var(--color-black);" text="Вход" className="form__title" }}

    {{> TextField label="Логин" type="text" errorMessage="Неверный логин" value="ivanivanov"}}
    {{> TextField label="Пароль" type="password" errorMessage="Неверный пароль"}}
</form>
