@import "../../scss/mixins";

.avatar {
  &-stub,
  &-image {
    border-radius: 50%;
    background-color: var(--color-light-gray);
  }

  &-image {

  }

  &-stub {
    position: relative;
    box-shadow: inset 0 -14px 15px rgb(0 0 0 / 20%);

    &__initials {
      @include absoluteCentered;

      color: var(--color-white);
      text-shadow: 0 0 2px var(--color-black);
      font-size: 20px;
      font-weight: bold;
    }
  }
}
