<div class="chat-navigation">
    <div class="chat-navigation__wrap">
        <a class="chat-navigation__link-profile" href="#" data-page="profile">
            Профиль{{> Chevron}}
        </a>
        {{> Search name="message" placeholder="Поиск" }}
    </div>
</div>