{{#> LayoutGrid}}
    <div   class="profile">
        {{#*inline "leftContent" }}
            <div class="profile__back">

                {{> Button iconLeft="Arrow" view="primary" form="round" className="profile__go-back" }}
            </div>
        {{/inline}}

        {{#*inline "rightContent" }}
            <div class="profile__content">
                <div class="profile-avatar">
                    <label for="">
                        {{> Avatar avatar="https://i.pravatar.cc/300" width="130px" height="130px" }}
                        <input type="file"  name="avatar">
                        <span class="profile-avatar__upload">
                            <span class="profile-avatar__upload-text">
                                Upload image...
                            </span>
                        </span>
                    </label>
                </div>

                <form class="profile-info">
                    {{> TextFieldLabel label="Почта" type="text" errorMessage="" value="ivanivanov@mm.rr" name="email" className="profile-info-field inline "}}
                    {{> TextFieldLabel label="Логин" type="text" errorMessage="" value="ivanivanov" name="login" className="profile-info-field inline "}}
                    {{> TextFieldLabel label="Имя" type="text" errorMessage="" value="Василий" name="first_name" className="profile-info-field inline "}}
                    {{> TextFieldLabel label="Фамилия" type="text" errorMessage="" value="Пупкин" name="second_name" className="profile-info-field inline "}}
                    {{> TextFieldLabel label="Имя в чате" type="text" errorMessage="" value="ivanivanov" name="display_name" className="profile-info-field inline "}}
                    {{> TextFieldLabel label="Телефон" type="text" errorMessage="" value="+7 (999) 999 99 99" name="phone" className="profile-info-field inline "}}

                    <div class="profile-info__buttons">
                        {{> Button text="Сохранить" view="primary" width="full" type="submit"}}
                    </div>

                </form>

            </div>
        {{/inline}}
    </div>
{{/LayoutGrid}}
