<div class="custom-text-field">
    <label>
        <input type="{{ type }}" value="{{ value }}" required {{!-- if required }} required {{/if --}}>
        <span class="custom-text-field__label">{{ label }}</span>
        <span class="custom-text-field__error-message">{{# if errorMessage }} {{errorMessage}} {{/if}}</span>
    </label>
</div>