<div class="search">
    <label>
        <input class="search__input" type="text" value="{{ value }}" required {{!-- if required }} required {{/if --}} name="{{name}}">
        <span class="search__icon">
            {{> Lens}}
        </span>
        <span class="search__placeholder">
            {{> Lens}}&nbsp;{{ placeholder }}
        </span>
    </label>
</div>