<nav class="navigation">
    {{> Text style="font-size:20px;font-weight:500;color:var(--color-black);" text="Список страниц"  }}

    <ul class="navigation-list">
        <li>
            <a href="#" data-page="login">Форма входа</a>
        </li>
        <li>
            <a href="#" data-page="registration">Форма регистрации</a>
        </li>
        <li>
            <a href="#" data-page="chats">Чаты</a>
        </li>
        <li>
            <a href="#" data-page="many-chats">Много чатов</a>
        </li>
        <li>
            <a href="#" data-page="profile">Профиль</a>
        </li>
        <li>
            <a href="#" data-page="setting">Настройки</a>
        </li>
        <li>
            <a href="#" data-page="loadimage">Загрузка картинки</a>
        </li>
        <li>
            <a href="#" data-page="404">Ошибка 404</a>
        </li>
        <li>
            <a href="#" data-page="500">Ошибка 500</a>
        </li>
    </ul>
</nav>
