<ul>
    <li>
        <a href="#" data-page="login">Login page</a>
    </li>
    <li>
        <a href="#" data-page="chats">Chats page</a>
    </li>
    <li>
        <a href="#" data-page="many-chats">Chats page with many items</a>
    </li>
</ul>