<form class="form__form form__form_registration">
    <div class="form__content">
        {{> Text style="font-size:20px;font-weight:500;color:var(--color-black);" text="Регистрация" className="form__title" }}

        {{> TextField label="Почта" type="text"  name="email"}}
        {{> TextField label="Логин" type="text"  value="ivanivanov" name="login"}}
        {{> TextField label="Имя" type="text"  name="first_name"}}
        {{> TextField label="Фамилия" type="text"  name="second_name"}}
        {{> TextField label="Телефон" type="text"  name="phone"}}
        {{> TextField label="Пароль" type="password"  name="password"}}
        {{> TextField label="Пароль (еще раз)" type="password"  name="password_repeat"}}
    </div>

    <div class="form__footer">
        {{> Button text="Зарегистрироваться" view="primary" width="full"}}
        {{> Button text="Войти" view="clear" width="full" size="small"  href="/login"}}
    </div>
</form>
