@import "../../scss/mixins";

.profile {
  &__back {
    display: flex;
    padding: 0 18px;
    flex-flow: row;
    align-items: center;
    height: 100%;

    .custom-button.profile__go-back {
      min-height: 28px;
      line-height: 28px;
      width: 28px;
      transform: rotate(180deg);

      svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  &__content {
    max-width: 510px;
    width: 100%;
    margin: 0 auto;
    padding-top: 60px;
    display: flex;
    flex-flow: column;
    align-items: center;
  }
}

.profile-info {
  width: 100%;

  .profile-info-field {
    width: 100%;
    font-size: 13px;
    font-weight: 500;
    padding: 0;
    margin: 7px 0;

    label {
      display: flex;
      flex-flow: row-reverse;
      justify-content: space-between;

      input {
        width: auto;
        text-align: right;
      }

      span.profile-info-field__label {
        position: static;
      }

      .custom-text-field-label__error-message {
        position: absolute;
        left: 50%;
        top: -13px;
        width: auto;
        transform: translateX(-50%);
        text-align: center;
      }
    }

    &_unactive {
      cursor: default;
      pointer-events: none;

      input {
        color: var(--color-gray);
      }

      &::after {
        background-color: var(--color-border);
        top: 30px;
      }

      &__error-message {
        display: none;
      }
    }
  }

  &__buttons {
    width: 50%;
    margin: 0 auto;
    margin-top: 50px;

    .custom-button {
      margin-bottom: 7px;
    }
  }
}
