.selected-chat {
  padding: 0 20px;

  &__dialog {
    overflow: auto;
    height: calc(100vh - ( var(--height-footer) + var(--height-header) ));
    margin: 0 -20px;
    padding: 0 20px;
  }

  &__date {
    font-weight: 500;
    font-size: 12px;
    color: var(--color-gray);
    display: flex;
    flex-flow: row;
    justify-content: center;
    margin: 30px 0;
  }

  &__time {
    font-weight: 500;
    font-size: 9px;
    color: var(--color-gray);
  }

  &__balloon {
    background-color: var(--color-balloon);
    display: block;
    padding: 11px;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 10px;
    max-width: 40%;
    width: fit-content;
    font-size: 12px;
    color: var(--color-black);
    position: relative;

    &_you {
      background-color: var(--color-light-blue);
      margin-left: auto;
    }

    &_stranger {

    }

    &-footer {
      float: right;
      margin-left: 14px;

      svg {
        color: var(--color-blue);
        position: relative;
        top: 2px;
      }
    }

    &_image {
      padding: 0;

      img {
        display: block;
        width: 100%;
      }

      .selected-chat__balloon-footer {
        position: absolute;
        bottom: 11px;
        right: 11px;
        background: var(--color-bg-secondary-opacity);
        border-radius: 13px;
        padding:1px 7px 2px 7px;

        .selected-chat__time {
          color: var(--color-white);
        }
      }
    }
  }

  &__header, &__footer {
    width: 100%;
    position: relative;
    padding: 10px 0;
    display: flex;
    align-items: center;
  }

  &__header {
    border-bottom: 1px solid var(--color-border);
  }

  &__footer {
    border-top: 1px solid var(--color-border);
  }

  &__controls {
    margin-left: auto;
    position: relative;
  }

  &__send {
    min-height: 28px;
    min-width: 28px;
    line-height: 28px;
    margin-left: 10px;
  }

  &__send-message {
    flex-grow: 1;

    label {
      display: flex;
    }
  }

  &__attach-action {
    position: relative;
  }

  &__popup {
    width: max-content;

    &_bottom {
      bottom: 100%;
    }

    &_top {
      top: 100%;
      right: 40%;
    }

    button {
      display: flex;
      flex-flow: row;
      align-items: center;

      span {
        margin-left: 10px;
      }

      svg {
        color: var(--color-blue);
      }
    }
  }
}