.layout-center {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  height: 100%;

  &_fixed {
    position: fixed;
    background-color: var(--color-bg-secondary-opacity);
    inset: 0;
    z-index: 1;
  }
}
