<div class="layout-center layout-center_{{ position }}">
    {{# if showOverlay}}<div class="layout-center__overlay"></div>{{/if}}
    <div class="layout-center__content">
        {{> @partial-block context}}
    </div>
</div>
